@import "tailwindcss";

@theme {
  --color-primary: hsl(233 26% 24%);
  --color-secondary: hsl(136 64% 51%);
  --color-accent: hsl(192 69% 51%);

  --color-muted: hsl(233 8% 62%);
  --color-surface: hsl(220 16% 96%);
  --color-background: hsl(0 0% 98%);
  --color-white: hsl(0 100% 100%);
}

/* Dark theme */
.dark {
  --color-primary: hsl(0 0% 100%);
  --color-secondary: hsl(136 64% 51%);
  --color-accent: hsl(192 69% 51%);

  --color-muted: hsl(233 8% 72%);
  --color-surface: hsl(233 26% 18%);
  --color-background: hsl(233 26% 12%);
  --color-white: hsl(233 26% 16%);
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--color-background);
  color: var(--color-primary);
  transition:
    background-color 300ms ease,
    color 300ms ease;
}
